<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <h4>Welcome <span th:text="${user_name.toString()}"></span></h4>

    <div class="alert alert-success" th:if="${msg}" th:text="${msg.toString()}"></div>


    <div class="card">
        <div class="card-header">
            <h6>Todos List :</h6>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Create a Todo
            </button>

            <br>
            <br>
            <a href="/search" class="btn btn-info" style="color: white">search</a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create a Todo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/todo}" method="post" th:object="${todo}" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <input type="number" class="form-control" name="user_id" required hidden
                                           th:value="${user_id}">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" name="name" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Image</label>
                                    <input type="file" class="form-control" name="image">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Created_at</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="todo: ${todos}">
                    <td th:text="${todo.name}"></td>
                    <td>
                        <img th:src="'/content/' + ${todo.image}" alt="" style="max-width: 5rem;max-height: 3rem; ">
                    </td>
                    <td th:text="${todo.createdAt}"></td>
                    <td>
                        <a class="btn btn-danger" th:href="'/delete/todo?id=' + ${todo.id} + '&user_id=' + ${user_id}">Delete</a>
                        &nbsp;&nbsp;
                        <a class="btn btn-warning" th:onclick="'get_id(' + ${todo.id} + ')'" type="button"
                           data-bs-toggle="modal" data-bs-target="#edit">Update</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="edit"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit a Todo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/todo/update}" method="post" th:object="${update_todo}"
                          enctype="multipart/form-data">
                        <div class="mb-3">
                            <input type="number" class="form-control" name="user_id" required hidden
                                   th:value="${user_id}">
                            <input type="number" class="form-control" id="hidden_id" name="todo_id" hidden required>
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Image</label>
                            <input type="file" class="form-control" name="image">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

<script>
    let get_id = (id) => {
        document.getElementById('hidden_id').value = id;
    }
</script>

</body>
</html>